# Build Folders
bin/
obj/

# .NET Core-specific
*.user
*.suo
*.vs
*.vscode/
*.csproj.user
*.db

# Packages
*.nupkg
packages/
!packages/repositories.config

# Logs & Temporary Files
*.log
*.tmp
*.cache

# Dependency Directories
node_modules/
dist/

# Environment Files
.env
.env.local

# Rider / JetBrains
.idea/
*.sln.iml
